<style>
    .portafolio{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    li{
        color: white;
        border-radius: 5px;
    }
</style>
<div class="container-fluid w-100 portafolio text-center" id="portafolio">
    <h2 class="fs-1 fw-bolder">SKILLS</h2>
    <nav>
        <ul class="d-flex justify-content-center align-items-center">
            <li class="list-unstyled m-2 text-white fw-bolder p-2" style="background-color: orangered;">HTML</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2 " style="background-color: #0d6efd;">CSS</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2 bg-warning">JavaScript</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2 bg-primary">TypeScript</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2" style="background-color: #1F618D;">SQL Server</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2 " style="background-color: #AF601A;">My SQL</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2" style="background-color:#154360 ;">PHP</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2" style="background-color: green; ">MONGO</li>
            <li class="list-unstyled m-2 text-white fw-bolder p-2" style="background-color: red;">ANGULAR</li>
        </ul>
    </nav>
</div>
