<style>
    .main-div{
        margin-top: 10%;
        margin-bottom: 15%;
    }
</style>
<nav class="navbar navbar-expand-lg bg-light d-flex justify-content-center shadow-lg p-3 mb-5 bg-body-tertiary rounded fixed-top mb-5">
  <div class="container-fluid ">
    <a class="navbar-brand fw-bolder W-25 text-center" href="#home">FREDY LEONARDO MARTINEZ GALEANO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar W-50 me-0" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-bolder" href="#home">HOME</a>
        <a class="nav-link fw-bolder" href="#sobre-mi">SOBRE MI</a>
        <a class="nav-link fw-bolder" href="#portafolio">SKILLS</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid d-flex justify-content-center align-items-center main-div pt-5" id="home">
    <div class="container w-50 d-flex flex-wrap justify-content-center align-items-center">
        <h1 class="w-100">Fredy Leonardo Martinez Galeano</h1>
        <hr class="w-100">
        <a href="https://www.linkedin.com/in/fredy-leonardo-martinez-galeano-84b5511a0/" class="p-2 bg-primary text-white text-decoration-none rounded-2 m-2">Linkedin</a>
        <a href="https://github.com/fredymar" class="p-2 bg-danger text-white text-decoration-none rounded-2 m-2">Git-hub</a>
    </div>
    <div class="container w-50 d-flex justify-content-center align-items-center">
        <img src="../../../assets/img/desarrollo_web.jpg" class="mt-5" width="75%" alt="">
    </div>
</div>
